<style>
    .container {
  display: flex;
  flex-direction: row;
}

.left-column, .right-column {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
}
</style>
<style>
  .carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
<div class="container">
  <!-- original content -->
  <div class="left-column">
    Import favorites M Gmail
    YouTube
    خرائط Google
    Lenovo
    McAfee
    Nilazon
    Nilazon Store About Register Categories
    NILZON
    - Continue Shopping
    Sale!
    00
  </div>
  <div class="right-column">
    SAMSUNG
    SAMSUNG
    Samsung A52
    This phone from samsung company
    Quantity:
    1
    Buy
    Add to cart
    $499.00 $ 599.90
    27.0.0.1:8000/products/2#
    Login
    0
  </div>
</div>




<button> <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M6.5 11.5H9.5V9.5H6.5V11.5ZM5 10.5H11V8.5H5V10.5ZM1 4.5H15V2.5H1V4.5ZM4.5 6.5H11.5V4.5H4.5V6.5Z" fill="black" /> </svg> Add to cart </button>

<button class="btn btn-outline-light" type="submit" style="margin-right: 10px;">
    <i class="bi-cart-fill me-1"></i>
    Cart
</button>








<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: url('https://source.unsplash.com/LAaSoL0LrYs/1920x1080')">
        <div class="carousel-caption">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true">DGN</span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>